@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

body {
  margin: 0;
}

@media print {
  body {
    background: #fff !important;
  }

  body * {
    visibility: hidden;
  }

  .printable,
  .printable * {
    visibility: visible;
  }

  .printable {
    position: absolute;
    inset: 0 auto auto 0;
    width: 100%;
    border: 0 !important;
    box-shadow: none !important;
  }
}
